* {
  outline: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c4e54;
}
label {
  font-weight: normal;
}
body {
  color: #54565b;
  background: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn {
  border-radius: 2px;
}
.btn.btn-new {
  color: #fff;
  background: #7f8fa4;
}
.btn.btn-cancel {
  background-color: white;
  border: solid 1px #e3e7ec;
  border-radius: 2px;
  color: #313236;
}
.alert {
  margin: 20px;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.left {
  float: left;
}
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right {
  float: right;
}
.strong {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.margin-top-30 {
  margin-top: 30px;
}
/* overrides */
.chosen-container {
  border: 1px solid #e7e9ed;
  color: #7f8fa4;
  color: #444;
  background: #fff none repeat scroll 0 0;
  border-radius: 2px;
  font-size: 15px;
  height: 42px;
  line-height: 1.42857;
  padding: 8px 16px;
}
.chosen-container .chosen-single {
  border: 0;
  box-shadow: none;
  background: none;
}
.chosen-container .chosen-drop {
  border: 1px solid #bbb !important;
  font-size: 13px;
  margin-top: 4px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 0;
  box-shadow: none;
  background: none;
}
.chosen-container .chosen-drop {
  border: none !important;
  font-size: 13px;
  margin-top: 4px;
  min-width: 250px;
  box-shadow: 0 0 1px 0 rgba(76, 86, 103, 0.247), 0 2px 18px 0 rgba(31, 37, 50, 0.318);
  padding: 16px;
}
.chosen-container .chosen-results {
  overflow-y: auto;
  max-height: 150px;
}
.chosen-container .chosen-results li {
  padding: 9px;
  line-height: 24px;
}
.chosen-container .chosen-results li.result-selected,
.chosen-container .chosen-results li:hover {
  background: #2d9fd8;
  color: #fff;
}
.chosen-container .chosen-search input {
  border-radius: 0;
  box-shadow: none;
  font-family: sans-serif;
  font-size: 1em;
  height: auto !important;
  margin: 0;
  min-height: 26px;
  outline: 0 none;
  padding: 4px 20px 4px 5px;
  background-color: #fafafa !important;
  border-color: #ddd !important;
}
.form-group {
  position: relative;
}
#customer_id {
  display: block !important;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 30px;
}
.pagination-wrap {
  background-color: #f7f8fa;
  border-top: solid 1px #dce0e6;
  margin: 0;
  padding: 0 16px;
  max-height: 48px;
  line-height: 1.42857;
}
.pagination-wrap ul.pagination {
  margin: 0;
  border: none;
  border-radius: 0;
}
.pagination-wrap ul.pagination li span,
.pagination-wrap ul.pagination li a {
  color: #7f8fa4;
  margin: 0;
  padding: 13px 19px;
  border: none;
  background-color: #f7f8fa;
  border-radius: 0;
  border-right: solid 1px #dce0e6;
}
.pagination-wrap ul.pagination li.active span,
.pagination-wrap ul.pagination li:hover span,
.pagination-wrap ul.pagination li.active a,
.pagination-wrap ul.pagination li:hover a {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
}
@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #printSection,
  #printSection * {
    visibility: visible;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.receipt-body {
  line-height: 1.5;
}
