*{
  outline: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  color: #4c4e54;
}

label{
  font-weight: normal;
}

body{
  color: #54565b;
  background: #fff;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn{
  &.btn-new{
    color: #fff;
    background: #7f8fa4;
  }
}

.inline{display: inline}
.block{display: block}
.left{float: left}
.right{float: right}


/* overrides */
.select2-container--default .select2-selection--single{
  border-radius: 0;
}